/* Font */
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

/* Global */
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Redressed", cursive;
}

/* Navbar */
.navbar {
	position: fixed;
	background-color: black;
	width: 100%;
	top: 0;
	overflow: hidden;
	padding: 10px;
	z-index: 1000;
	font-size: 1.2rem;
}
.navBrand {
	float: left;
	color: white;
	text-align: center;
	display: block;
	padding: 10px 10px;
}
.navBrand a {
	color: white;
	text-decoration: none;
}
.nav-item {
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px 10px;
	text-align: center;
}
.navbar a:hover {
	color: #1098f7;
}

/* Form */
form {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

label {
	display: block;
	margin: 10px;
	position: relative;
	font-size: 1.2rem;
	left: 10vw;
}
input {
	display: block;
	position: relative;
	width: 80%;
	margin: 10px;
	padding: 5px;
	left: 10vw;
}
input:focus {
	border: 2px solid #1098f7;
	box-shadow: 0px 2px 25px #1098f7;
}

input:invalid {
	border: 2px solid red;
	box-shadow: 0px 2px 25px red;
}

/* Buttons */
#regBtn:hover {
	color: #1098f7;
	box-shadow: 0px 2px 25px #1098f7;
	border: 2px solid #1098f7;
	background-color: black;
}
#regBtn {
	cursor: pointer;
	display: block;
	/* position: absolute; */
	margin: 10px auto;
	padding: 10px;
	/* left: 45vw; */
	text-align: center;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.2rem;
}
.btn {
	display: block;
	margin: 20vh auto;
	padding: 20px;
	font-size: 1.2rem;
	text-decoration: none;
	outline: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: black;
	border: 2px solid black;
	opacity: 0.5;
}
.btn:hover {
	opacity: 1;
	color: #1098f7;
	border: 2px solid #1098f7;
	box-shadow: 0px 2px 25px #1098f7;
}

/* Main Content */
.main {
	position: relative;
	margin-top: 62px;
	padding-top: 20px;
	background-color: #b89e97;
	height: calc(100vh - 62px);
	color: white;
}

.main h1 {
	font-size: 6rem;
	text-align: center;
	padding: 10px;
}

#greeting {
	position: relative;
	text-align: center;
	top: 15vh;
	font-size: 1.2rem;
}
/* Userpage Table */
table {
	margin: auto;
	font-size: 1.2rem;
}

table,
th,
td {
	text-align: center;
	border: 2px solid black;
	border-collapse: collapse;
	background-clip: padding-box;
}
td {
	padding: 15px;
}
th {
	background-color: dodgerblue;
	margin: 0;
	position: relative;
	padding: 12px 15px;
	font-size: 2rem;
}
#delBtn {
	margin: 0 auto;
	font-size: 1.2rem;
	padding: 5px;
	color: white;
	background-color: red;
	border-radius: 5px;
	border: 2px solid red;
	cursor: pointer;
}
#delBtn:hover {
	font-weight: bold;
	box-shadow: 0px 2px 5px red;
}
#add {
	float: right;
	height: auto;
	padding-top: 5px;
	align-content: center;
	border: red;
}
#add button:hover {
	color: #1098f7;
}
#add button:focus {
	outline: none;
}

#add button {
	display: block;
	float: left;
	color: white;
	cursor: pointer;
	border: 1px solid black;
	background-color: transparent;
	font-size: 1.2rem;
	margin: auto;
	padding: 5px;
}

/* Modal */
#modal {
	position: fixed;
	z-index: 1;
	padding-top: 20vh;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0); /* Black w/ opacity */
}
#modal-content {
	margin: 0 auto;
	padding: 50px;
	color: white;
	font-weight: bold;
	border: 2px solid #1098f7;
	border-radius: 5px;
	box-shadow: 0px -10px 120px #1098f7;
	width: 50%;
	height: auto;
	background-color: black;
}
#modal-content input[type="text"] {
	margin: auto 0;
}
#modal-content input[type="number"] {
	width: 30%;
	margin: 0;
}
#modal-content input[type="date"] {
	text-align: center;
	width: 50%;
	margin: 0;
	font-size: 0.7rem;
}
#modal-content label {
	margin: auto 0;
	display: block;
	padding-right: 40px;
}
#modal-content input,
#modal-content label {
	width: 50%;
	display: block;
}
#modal-content button[type="button"]:hover {
	box-shadow: 0px 2px 15px red;
}
#modal-content button[type="button"] {
	background-color: red;
	border: 2px solid red;
}
#modal-content button[type="submit"] {
	background-color: green;
	border: 2px solid green;
}
#modal-content button[type="submit"]:hover {
	box-shadow: 0px 2px 15px green;
}
#modBtns {
	display: block;
	margin: 10px auto;
	width: 30%;
}
#modal-content button {
	margin: 0 auto;
	padding: 10px;
	font-size: 1.2rem;
	border-radius: 5px;
	color: white;
	opacity: 0.5;
	cursor: pointer;
}

#modal-content button:hover {
	opacity: 1;
	font-weight: bold;
	box-shadow: 0px 2px 25px #1098f7;
}

/* Cellphone View */
@media screen and (max-width: 480px) {
	#modal-content {
		padding: 10px;
	}
	img {
		display: none;
	}
	.main h1 {
		font-size: 3rem;
	}

	th {
		font-size: 1.2rem;
	}
}
